html {
    scroll-behavior: smooth;
}
body {
    background: #252525 !important;
    font-family: "Baloo Tamma 2", cursive;
}
.text-white {
    color: white;
}
.navigation-link {
    border: 2px solid transparent;
}
.navigation-link:hover {
    text-decoration: none;
    border-bottom: 2px solid #f5ba09;
    transition: 0.5s ease;
}
.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('banner.jpeg');
    background-size: cover;
    background-attachment: fixed;
}
.about {
    background: #313592;
    border-radius: 50px;
}